<form action="#" method="post">
    <div class="book-here">
        <h2 class="center">Book here</h2>
        <div class="book-here__content">
            <div class="book-box">
                <div class="input-field">
                    <label for="people">How many people ?</label>
                    <select class="input" name="" id="people">
                        <option value="1">1 people</option>
                        <option value="2" selected>2 people</option>
                        <option value="3">3 people</option>
                        <option value="4">4 people</option>
                        <option value="5">5 people</option>
                        <option value="6">6 people</option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="people">Name</label>
                    <input class="input" type="text" name="" id="" placeholder="full name">
                </div>
            </div>
            <div class="book-box">
                <div class="input-field">
                    <label for="people">What is your date?</label>
                    <input class="input" type="date" name="" id="">
                </div>
                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="email" class="input" id="email" placeholder="your email address">
                </div>
            </div>
            <div class="book-box">
                <div class="input-field">
                    <label for="time">Time</label>
                    <input class="input" type="time" name="" id="time" value="10:30">
                </div>
                <div class="input-field">
                    <label for="phone">Phone</label>
                    <input class="input" type="tel" name="" id="phone" placeholder="your phone" maxlength="10">
                </div>
            </div>

        </div>
        <div class="center">
            <input type="submit" type="" class="btn">
        </div>
    </div>
</form>