<div class="card">
    <img class="card__image" src="/images/bowl veggies.jpg" alt="bowl of japense food">
    <div class="card__content">
        <h4>Food / 16th March, 2019</h4>
        <p class="card__content-heading">Lorem ipsum dolor sit.</p>
        <p class="card__content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus</p>
        <div class="card__link">
            <a href="#">read more</a>
            <img class="link__underline" src="/icons-svg/underline.svg" alt="">
        </div>
    </div>
</div>