<div class="card-block">
    <header class="card-block__header center">
        <h3>Discover</h3>
        <h4>OUR NEW MENU</h4>
    </header>
    <div class="cards">
        <div class="card">
            <img class="card__image" src="/images/pasta.jpg" alt="bowl of japense food">
            <div class="card__content">
                <h4>Food / 16th March, 2019</h4>
                <p class="card__content-heading">Lorem ipsum dolor sit.</p>
                <p class="card__content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus</p>
                <div class="card__link">
                    <a href="#">read more</a>
                    <img class="link__underline" src="/icons-svg/underline.svg" alt="">
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card__image" src="/images/bowl veggies.jpg" alt="bowl of japense food">
            <div class="card__content">
                <h4>Food / 16th March, 2019</h4>
                <p class="card__content-heading">Lorem ipsum dolor sit.</p>
                <p class="card__content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus</p>
                <div class="card__link">
                    <a href="#">read more</a>
                    <img class="link__underline" src="/icons-svg/underline.svg" alt="">
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card__image" src="/images/spagetti.jpg" alt="bowl of japense food">
            <div class="card__content">
                <h4>Food / 16th March, 2019</h4>
                <p class="card__content-heading">Lorem ipsum dolor sit.</p>
                <p class="card__content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus</p>
                <div class="card__link">
                    <a href="#">read more</a>
                    <img class="link__underline" src="/icons-svg/underline.svg" alt="">
                </div>
            </div>
        </div>

    </div>

</div>