<div class="dot-card">
    <div class="one-dot">
        <div class="dot">
            <span class="new-menu__image">
                <img src="/icons-svg/circle-filled.svg" alt="">
            </span>

        </div>
        <p class="dot-card__text">New Tastes</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat quibusdam illo aliquam
            recusandae at obcaecati voluptate corrupti ullam cum!</p>
    </div>
    <div class="two-dot">
        <div class="dot">
            <span class="new-menu__image">
                <img src="/icons-svg/circle-filled.svg" alt="">
            </span>
            <span class="new-menu__image">
                <img src="/icons-svg/circle-filled.svg" alt="">
            </span>

        </div>
        <p class="dot-card__text">New Spices</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat quibusdam illo aliquam
            recusandae at obcaecati voluptate corrupti ullam cum!</p>
    </div>
    <div class="three-dot">
        <div class="dot">
            <span class="new-menu__image">
                <img src="/icons-svg/circle-filled.svg" alt="">
            </span>
            <span class="new-menu__image">
                <img src="/icons-svg/circle-filled.svg" alt="">
            </span>
            <span class="new-menu__image">
                <img src="/icons-svg/circle-filled.svg" alt="">
            </span>
        </div>
        <p class="dot-card__text">New Dishes</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat quibusdam illo aliquam
            recusandae at obcaecati voluptate corrupti ullam cum!</p>
    </div>
</div>