<div class="final">
    <div class="bg-one">
        <nav class="nav-bar">
            <ul>
                <li>Brunch</li>
            </ul>
            <ul>
                <li>welcome</li>
                <li>menu</li>
                <li>events</li>
                <li>contact</li>
            </ul>
        </nav>
        <img src="../bg/indian spices.jpg" alt="">
        <div class="top-card">
            <h3>Brunch</h3>
            <h2>FULL WEBSITE</h2>
            <a href="">READ MORE</a>
        </div>
    </div>
    <div class="spoon-block__container">
        <div class="spoon-block">
            <div class="spoon-block__text">
                <h3>Indian tradional flavours</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, vitae ut veniam ipsum neque
                    amet
                    qui
                    officiis nobis, ex mollitia omnis tenetur inventore aliquid laudantium atque facere ipsa.
                    Voluptas,
                    saepe.</p>
            </div>
            <div class="spoon__image">
                <img src="/images/spoon spices.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="dot-card">
        <div class="one-dot">
            <div class="dot">
                <span class="new-menu__image">
                    <img src="/icons-svg/circle-filled.svg" alt="">
                </span>

            </div>
            <p class="dot-card__text">New Tastes</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat quibusdam illo aliquam
                recusandae at obcaecati voluptate corrupti ullam cum!</p>
        </div>
        <div class="two-dot">
            <div class="dot">
                <span class="new-menu__image">
                    <img src="/icons-svg/circle-filled.svg" alt="">
                </span>
                <span class="new-menu__image">
                    <img src="/icons-svg/circle-filled.svg" alt="">
                </span>

            </div>
            <p class="dot-card__text">New Spices</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat quibusdam illo aliquam
                recusandae at obcaecati voluptate corrupti ullam cum!</p>
        </div>
        <div class="three-dot">
            <div class="dot">
                <span class="new-menu__image">
                    <img src="/icons-svg/circle-filled.svg" alt="">
                </span>
                <span class="new-menu__image">
                    <img src="/icons-svg/circle-filled.svg" alt="">
                </span>
                <span class="new-menu__image">
                    <img src="/icons-svg/circle-filled.svg" alt="">
                </span>
            </div>
            <p class="dot-card__text">New Dishes</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat quibusdam illo aliquam
                recusandae at obcaecati voluptate corrupti ullam cum!</p>
        </div>
    </div>
    <div class="bg-two">
        <div class="food-grid food-grid--bg middle">
            <div class="food-grid__title">
                <h2>India</h2>
                <p>on your plate</p>
            </div>
            <div class="food-box">
                <img src="/images/burger.jpg" alt="">

                <div class="food-box__content">
                    <h3 class="food-box__title">Burger Veg</h3>
                    <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                        minus
                        dolorum
                    </p>
                    <span class="food-box__prize">$14.95</span>
                </div>
            </div>
            <div class="food-box">
                <img src="/images/bowl vegetable.jpg" alt="">
                <div class="food-box__content">
                    <h3 class="food-box__title">vegetable bowl</h3>
                    <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                        minus
                        dolorum
                    </p>
                    <span class="food-box__prize">$8.95</span>
                </div>
            </div>
            <div class="food-box three">
                <img src="/images/bowl veggies.jpg" alt="">
                <div class="food-box__content">
                    <h3 class="food-box__title">bowl veggies</h3>
                    <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                        minus
                        dolorum
                    </p>
                    <span class="food-box__prize">$12.95</span>
                </div>
            </div>
            <div class="food-box four">
                <img src="/images/chiken soup.jpg" alt="">
                <div class="food-box__content">
                    <h3 class="food-box__title">chicken soup</h3>
                    <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                        minus
                        dolorum
                    </p>
                    <span class="food-box__prize">$14.95</span>
                </div>
            </div>
            <div class="food-box">
                <img src="/images/pancake.jpg" alt="">
                <div class="food-box__content">
                    <h3 class="food-box__title">pancake</h3>
                    <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                        minus
                        dolorum
                    </p>
                    <span class="food-box__prize">$10.95</span>
                </div>
            </div>
            <div class="food-box">
                <img src="/images/pasta.jpg" alt="">
                <div class="food-box__content">
                    <h3 class="food-box__title">pasta</h3>
                    <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                        minus
                        dolorum
                    </p>
                    <span class="food-box__prize">$9.95</span>
                </div>
            </div>
        </div>
    </div>

    <div class="tradional-container">
        <img class="pattern left-pattern" src="/images/pattern.png" alt="">
        <div class="tradional-block">
            <div class="tradional-block__text">
                <h3>Tradional Cousine made easy</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui at autem enim dicta tenetur.
                    Nemo
                    porro
                    saepe suscipit omnis, velit accusamus provident quo magnam repellendus, aspernatur assumenda
                    aperiam
                    nobis iste!</p>
            </div>
            <div class="dot">
                <span class="new-menu__image no--bg">
                    <img src="/icons-svg/circle-filled.svg" alt="">
                </span>
                <span class="new-menu__image no--bg">
                    <img src="/icons-svg/circle-filled.svg" alt="">
                </span>
                <span class="new-menu__image no--bg">
                    <img src="/icons-svg/circle-filled.svg" alt="">
                </span>

            </div>
            <div class="tradional-block__words">
                <ul class="list">
                    <li>meal</li>
                    <li>spice</li>
                    <li>book</li>
                    <li>galary</li>
                </ul>
            </div>
        </div>
        <img class="pattern right-pattern" src="/images/pattern.png" alt="">
    </div>

    <div class="bg-three">
        <img src="/bg/vertical hot spices.jpg" alt="">
        <div class="new-menu-block slide">
            <header class="new-menu-block__header">
                <h3>Discover</h3>
                <p>our new menu</p>
            </header>
            <div class="new-menu-block__body">
                <ul class="list">
                    <li>
                        <div class="new-menu">
                            <span class="new-menu__image">
                                <img src="/icon-png/hot-soup.png" alt="">
                            </span>
                            <div class="new-menu__content">
                                <h3>hot soup</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam
                                    illum
                                    impedit. Lorem ipsum
                                    <span class="new-menu__prize">$10.42</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="new-menu">
                            <span class="new-menu__image">
                                <img src="/icon-png/chicken-leg.png" alt="">
                            </span>
                            <div class="new-menu__content">
                                <h3>chicken legs</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam
                                    illum
                                    impedit. Lorem ipsum
                                    <span class="new-menu__prize">$9.42</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="new-menu">
                            <span class="new-menu__image">
                                <img src="/icon-png/meatballs.png" alt="">
                            </span>
                            <div class="new-menu__content">
                                <h3>Meatballs</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam
                                    illum
                                    impedit. Lorem ipsum
                                    <span class="new-menu__prize">$7.42</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list">
                    <li>
                        <div class="new-menu">
                            <span class="new-menu__image">
                                <img src="/icon-png/roti-canai.png" alt="">
                            </span>
                            <div class="new-menu__content">
                                <h3>Roti kannai</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam
                                    illum
                                    impedit. Lorem ipsum
                                    <span class="new-menu__prize">$20.42</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="new-menu">
                            <span class="new-menu__image">
                                <img src="/icon-png/burger.png" alt="">
                            </span>
                            <div class="new-menu__content">
                                <h3>burger</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam
                                    illum
                                    impedit. Lorem ipsum
                                    <span class="new-menu__prize">$15.42</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="new-menu">
                            <span class="new-menu__image">
                                <img src="/icon-png/biryani.png" alt="">
                            </span>
                            <div class="new-menu__content">
                                <h3>Biryani</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam
                                    illum
                                    impedit. Lorem ipsum
                                    <span class="new-menu__prize">$5.42</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form action="#" method="post">
        <div class="book-here">
            <h2 class="center">Book here</h2>
            <div class="book-here__content">
                <div class="book-box">
                    <div class="input-field">
                        <label for="people">How many people ?</label>
                        <select class="input" name="" id="people">
                            <option value="1">1 people</option>
                            <option value="2" selected>2 people</option>
                            <option value="3">3 people</option>
                            <option value="4">4 people</option>
                            <option value="5">5 people</option>
                            <option value="6">6 people</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="people">Name</label>
                        <input class="input" type="text" name="" id="" placeholder="full name">
                    </div>
                </div>
                <div class="book-box">
                    <div class="input-field">
                        <label for="people">What is your date?</label>
                        <input class="input" type="date" name="" id="">
                    </div>
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input type="email" class="input" id="email" placeholder="your email address">
                    </div>
                </div>
                <div class="book-box">
                    <div class="input-field">
                        <label for="time">Time</label>
                        <input class="input" type="time" name="" id="time" value="10:30">
                    </div>
                    <div class="input-field">
                        <label for="phone">Phone</label>
                        <input class="input" type="tel" name="" id="phone" placeholder="your phone" maxlength="10">
                    </div>
                </div>

            </div>
            <div class="center">
                <input type="submit" type="" class="btn">
            </div>
        </div>
    </form>
    <div class="bg-four">
        <img src="/bg/indian spices.jpg" alt="">
    </div>
    <div class="card-block">
        <header class="card-block__header center">
            <h3>Discover</h3>
            <h4>OUR NEW MENU</h4>
        </header>
        <div class="cards">
            <div class="card">
                <img class="card__image" src="/images/pasta.jpg" alt="bowl of japense food">
                <div class="card__content">
                    <h4>Food / 16th March, 2019</h4>
                    <p class="card__content-heading">Lorem ipsum dolor sit.</p>
                    <p class="card__content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Possimus
                    </p>
                    <div class="card__link">
                        <a href="#">read more</a>
                        <img class="link__underline" src="/icons-svg/underline.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card__image" src="/images/bowl veggies.jpg" alt="bowl of japense food">
                <div class="card__content">
                    <h4>Food / 16th March, 2019</h4>
                    <p class="card__content-heading">Lorem ipsum dolor sit.</p>
                    <p class="card__content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Possimus
                    </p>
                    <div class="card__link">
                        <a href="#">read more</a>
                        <img class="link__underline" src="/icons-svg/underline.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card__image" src="/images/spagetti.jpg" alt="bowl of japense food">
                <div class="card__content">
                    <h4>Food / 16th March, 2019</h4>
                    <p class="card__content-heading">Lorem ipsum dolor sit.</p>
                    <p class="card__content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Possimus
                    </p>
                    <div class="card__link">
                        <a href="#">read more</a>
                        <img class="link__underline" src="/icons-svg/underline.svg" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="quote-block">
        <div class="quote">
            <span class="new-menu__image quote__image">
                <img src="/icons-svg/double-quote.svg" alt="">
            </span>
            <p class="quote__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam amet porro
                blanditiis
                et
                incidunt eaque
                voluptatem ullam cupiditate. Quidem, facere.</p>
            <span class="quote__author">Linda Steward</span>
        </div>
        <div class="quote__icons">
            <ul class="list">
                <li><a class="link"><span class="new-menu__image">
                            <img src="/icons-svg/facebook.svg" alt="">
                        </span></a></li>
                <li><a class="link"><span class="new-menu__image">
                            <img src="/icons-svg/instagram.svg" alt="">
                        </span></a></li>
                <li><a class="link"><span class="new-menu__image">
                            <img src="/icons-svg/pinterest.svg" alt="">
                        </span></a></li>
                <li><a class="link"><span class="new-menu__image">
                            <img src="/icons-svg/twitter.svg" alt="">
                        </span></a></li>
                <li><a class="link" target="_blank" href="https://www.google.com/"><span class="new-menu__image">
                            <img src="/icons-svg/google-plus.svg" alt="">
                        </span></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-container">
        <footer class="footer">
            <section>
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius alias maiores consectetur nemo
                    quam
                    beatae
                    amet, distinctio voluptatibus esse officiis!</p>
            </section>
            <section>
                <h3>About</h3>
                <ul class="list bold">
                    <li>team </li>
                    <li>join us</li>
                    <li>ethic</li>
                    <li>goals</li>
                </ul>
            </section>
            <section>
                <h3>About</h3>
                <ul class="list bold">
                    <li>team </li>
                    <li>join us</li>
                    <li>ethic</li>
                    <li>goals</li>
                </ul>
            </section>
            <section>
                <h3>About</h3>
                <ul class="list">
                    <li>team </li>
                    <li>join us</li>
                    <li>ethic</li>
                    <li>goals</li>
                </ul>
            </section>
        </footer>
    </div>

</div>