<div class="food-grid food-grid--bg">
    <div class="food-grid__title">
        <h2>India</h2>
        <p>on your plate</p>
    </div>
    <div class="food-box">
        <img src="/images/burger.jpg" alt="">

        <div class="food-box__content">
            <h3 class="food-box__title">Burger Veg</h3>
            <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit minus dolorum
            </p>
            <span class="food-box__prize">$14.95</span>
        </div>
    </div>
    <div class="food-box">
        <img src="/images/bowl vegetable.jpg" alt="">
        <div class="food-box__content">
            <h3 class="food-box__title">vegetable bowl</h3>
            <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit minus dolorum
            </p>
            <span class="food-box__prize">$8.95</span>
        </div>
    </div>
    <div class="food-box three">
        <img src="/images/bowl veggies.jpg" alt="">
        <div class="food-box__content">
            <h3 class="food-box__title">bowl veggies</h3>
            <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit minus dolorum
            </p>
            <span class="food-box__prize">$12.95</span>
        </div>
    </div>
    <div class="food-box four">
        <img src="/images/chiken soup.jpg" alt="">
        <div class="food-box__content">
            <h3 class="food-box__title">chicken soup</h3>
            <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit minus dolorum
            </p>
            <span class="food-box__prize">$14.95</span>
        </div>
    </div>
    <div class="food-box">
        <img src="/images/pancake.jpg" alt="">
        <div class="food-box__content">
            <h3 class="food-box__title">pancake</h3>
            <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit minus dolorum
            </p>
            <span class="food-box__prize">$10.95</span>
        </div>
    </div>
    <div class="food-box">
        <img src="/images/pasta.jpg" alt="">
        <div class="food-box__content">
            <h3 class="food-box__title">pasta</h3>
            <p class="food-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit minus dolorum
            </p>
            <span class="food-box__prize">$9.95</span>
        </div>
    </div>
</div>