<footer class="footer">
    <section>
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius alias maiores consectetur nemo quam beatae
            amet, distinctio voluptatibus esse officiis!</p>
    </section>
    <section>
        <h3>About</h3>
        <ul class="list bold">
            <li>team </li>
            <li>join us</li>
            <li>ethic</li>
            <li>goals</li>
        </ul>
    </section>
    <section>
        <h3>About</h3>
        <ul class="list bold">
            <li>team </li>
            <li>join us</li>
            <li>ethic</li>
            <li>goals</li>
        </ul>
    </section>
    <section>
        <h3>About</h3>
        <ul class="list">
            <li>team </li>
            <li>join us</li>
            <li>ethic</li>
            <li>goals</li>
        </ul>
    </section>
</footer>