<div class="new-menu__bg">
    <div class="new-menu-block">
        <header class="new-menu-block__header">
            <h3>Discover</h3>
            <p>our new menu</p>
        </header>
        <div class="new-menu-block__body">
            <ul class="list">
                <li>
                    <div class="new-menu">
                        <span class="new-menu__image">
                            <img src="/icon-png/hot-soup.png" alt="">
                        </span>
                        <div class="new-menu__content">
                            <h3>hot soup</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam illum
                                impedit. Lorem ipsum
                                <span class="new-menu__prize">$10.42</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="new-menu">
                        <span class="new-menu__image">
                            <img src="/icon-png/chicken-leg.png" alt="">
                        </span>
                        <div class="new-menu__content">
                            <h3>chicken legs</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam illum
                                impedit. Lorem ipsum
                                <span class="new-menu__prize">$9.42</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="new-menu">
                        <span class="new-menu__image">
                            <img src="/icon-png/meatballs.png" alt="">
                        </span>
                        <div class="new-menu__content">
                            <h3>Meatballs</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam illum
                                impedit. Lorem ipsum
                                <span class="new-menu__prize">$7.42</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list">
                <li>
                    <div class="new-menu">
                        <span class="new-menu__image">
                            <img src="/icon-png/roti-canai.png" alt="">
                        </span>
                        <div class="new-menu__content">
                            <h3>Roti kannai</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam illum
                                impedit. Lorem ipsum
                                <span class="new-menu__prize">$20.42</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="new-menu">
                        <span class="new-menu__image">
                            <img src="/icon-png/burger.png" alt="">
                        </span>
                        <div class="new-menu__content">
                            <h3>burger</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam illum
                                impedit. Lorem ipsum
                                <span class="new-menu__prize">$15.42</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="new-menu">
                        <span class="new-menu__image">
                            <img src="/icon-png/biryani.png" alt="">
                        </span>
                        <div class="new-menu__content">
                            <h3>Biryani</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil quibusdam illum
                                impedit. Lorem ipsum
                                <span class="new-menu__prize">$5.42</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>