<div class="quote__icons">
    <ul class="list">
        <li><a class="link"><span class="new-menu__image">
                    <img src="/icons-svg/facebook.svg" alt="">
                </span></a></li>
        <li><a class="link"><span class="new-menu__image">
                    <img src="/icons-svg/instagram.svg" alt="">
                </span></a></li>
        <li><a class="link"><span class="new-menu__image">
                    <img src="/icons-svg/pinterest.svg" alt="">
                </span></a></li>
        <li><a class="link"><span class="new-menu__image">
                    <img src="/icons-svg/twitter.svg" alt="">
                </span></a></li>
        <li><a class="link"><span class="new-menu__image">
                    <img src="/icons-svg/google-plus.svg" alt="">
                </span></a></li>
    </ul>
</div>