<div class="spoon-block__container">
    <div class="spoon-block">
        <div class="spoon-block__text">
            <h3>Indian tradional flavours</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, vitae ut veniam ipsum neque amet qui
                officiis nobis, ex mollitia omnis tenetur inventore aliquid laudantium atque facere ipsa. Voluptas,
                saepe.</p>
        </div>
        <div class="spoon__image">
            <img src="/images/spoon spices.jpg" alt="">
        </div>
    </div>
</div>